__pycache__/
*.pyc
output_svg/
storyboard_export/
*.pdf
*.pptx
.venv/
.env
settings.json
tmp_scrubber/
AIVerse_Batch_Output/
AIVerse_Shots/
*LastFrame.png
*SelectedFrame_*.png
*.ico
*.jpeg
*.spec
build/
dist/
